@use '../v';
.main-footer
{
    background-color: v.$light-gray;
    margin-top: 150px;
    display: grid;
    height: 100vh;
    .footer-wrapper 
    {
        max-width: v.$max-width;
        padding: 20px 100px 100px 100px;
        display: grid;
        height: fit-content;
        justify-self: center;
        width: 100%;
        margin-top: -100px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
        .left 
        {
            .main-box 
            {
                width: 100%;
                height: 550px;
                background-color: v.$gray;
            }
        }
        .right 
        {
            margin-top: 100px;
            max-width: 500px;
            display: grid;
            grid-gap: 25px;
            align-content: center;
            

        }
    }
}
@media only screen and (max-width: 1000px) 
{
    .main-footer 
    {
        height: calc(100vh + 400px);
        .footer-wrapper 
        {
            padding-left: 50px;
            padding-right: 50px;
            grid-template-columns: 1fr;
            grid-gap: 0px;
            .right 
            {
                max-width: unset;
            }
        }
    }
}
@media only screen and (max-width:550px) 
{
    .main-footer 
    {
        height: calc(100vh + 280px);
        .footer-wrapper 
        {
            grid-gap: unset;
            padding-left: 8%;
            padding-right: 8%;
        }
    }

}
@media only screen and (max-width:450px) 
{
    .main-footer 
    {
        height: calc(100vh + 50px);
        .footer-wrapper 
        {
            .left 
            {
                .main-box 
                {
                    height: 300px;
                }
            }
        }
    }

}
@media only screen and (max-height:550px) 
{
    .main-footer 
    {
        height: 100%;
    }
}